* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-image: url(./img/background-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  height: 100%;
}
